{% extends "base.html" %}

{% block content %}

{% set prof = users|filter(p => p.position == 'prof') %}
{% if prof is not empty %}
<div class="w3-row-padding w3-padding-32 w3-container w3-white w3-justify">
	{% for p in prof -%}
	<div class="w3-content">
		<h1 class=" h2_style_2 w3-container">Lab Director</h1>
		<div class="w3-half w3-container">
			<img class="profile" src="/media/avatar/{{p.username}}.jpg?{{ random() }}"
				onerror="this.src='/static/img/default.png'">
			<h5>Dr. {{p.firstname}} {{p.lastname}}</h5>
			<p class="w3-small" style="margin-bottom: 0">PhD (1999)</p>
			<p class="w3-small">Associate Professor</p>
			<p class="w3-small">{{ p.bio }}</p>
		</div>
		<div class="w3-half w3-container">
			<h5>Contact</h5>
			<p class="w3-small" style="margin: 0">University of Tehran</p>
			<p class="w3-small" style="margin: 0">School of Electrical and Computer Engineering</p>
			<p class="w3-small" style="margin: 0">North Kargar Ave</p>
			<p class="w3-small" style="margin: 0">Tehran, Iran</p>
			<p class="w3-small" style="margin: 0">PO Box: 14395/515</p>
			<p class="w3-small" style="margin: 0">Phone: +98 21 61114306</p>
			<p class="w3-small" style="margin: 0">smohamadi [at] ut [dot] ac [dot] ir</p>
			</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% set phd_student = users|filter(p => p.position == 'phd' and p.status == 'active') %}
{% if phd_student is not empty %}
<div class="w3-row-padding w3-padding-32 w3-container w3-justify w3-white">
	<div class="w3-content">
		<h2 class="w3-container h2_style_2"><span>PhD Students</span></h2>
		{% for p in phd_student -%}
			{% if loop.index0 % 2 == 0 or loop.first %}
				<div class="w3-row-padding">
			{% endif %}
			<div class="member w3-half">
				<div class="profile w3-container"><img src="/media/avatar/{{p.username}}.jpg?{{ random() }}"
					onerror="this.src='/static/img/default.png'">
					<h5>{{p.firstname}} {{p.lastname}}</h5>
					<p class="w3-small"><a href="mailto:{{ p.email }}"> {{ p.email }} </a></p>
					<p class="w3-small"> </p>
				</div>
			</div>
			{% if loop.index0 % 2 == 1 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% set msc_student = users|filter(p => p.position == 'msc' and p.status == 'active') %}
{% if msc_student is not empty %}
<div class="w3-row-padding w3-padding-32 w3-container w3-justify w3-light-grey">
	<div class="w3-content">
		<h2 class="w3-container h2_style_2"><span>MSc Students</span></h2>
		{% for p in msc_student -%}
			{% if loop.index0 % 2 == 0 or loop.first %}
				<div class="w3-row-padding">
			{% endif %}
			<div class="member w3-half">
				<div class="profile w3-container"><img src="/media/avatar/{{p.username}}.jpg?{{ random() }}"
					onerror="this.src='/static/img/default.png'">
					<h5>{{p.firstname}} {{p.lastname}}</h5>
					<p class="w3-small"><a href="mailto:{{ p.email }}"> {{ p.email }} </a></p>
					<p class="w3-small"> </p>
				</div>
			</div>
			{% if loop.index0 % 2 == 1 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}